@import '../../../assets/styles/global/variables.scss';

.contact-information {
    width: 30%;
}

.due-dates {
    width:70%;
}

.block-header {
    color: white;
    display: contents;
}

.taxes-container {
    width: 1300px;
    padding-bottom: 100px;
}

.contact-information-block {
    background-color: $light-grey;
    padding-bottom: 10px;
}

.taxes-header {
    background-color: $income-header;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    margin-top: 40px;
    padding: 20px 40px;
}