<!-- TODO: Cleanup CSS styles -->
<div class="text-center mt-5 mb-4" style="border:15px solid #F8F8F8;border-radius:9px;padding:40px;width:580px;margin:auto">
    <span style="font-size:30px;font-weight:bold;display:inline-block;margin-bottom:30px">View Your Estimated Taxes</span>
    <p>
        Connect your bank account or credit card to see a real-time estimate of how much in tax you'll need to pay at the end of the year.
        <br><br>
        After connecting your financial account, you'll be able to see estimated federal, state, and local income taxes updated daily,
        as well as your net income for the year.
    </p>
    <button class="btn login-button" style="margin-top:20px;width:300px" (click)="showPlaidModal()">Connect Your Financial Account</button>
</div>