<div style="height:90px;background:#141E28;color:#fff">
    <div class="header-main-container">
        <div class="float-left header-logo ml-5">
            <a routerLink="/dashboard">
                <label class="header-title">MyGreenGrowth</label>
            </a>
        </div>
        <div *ngIf="auth.isLoggedIn()" class="header-links w-100">
            <a routerLink="/dashboard" class="header-link mr-5">Dashboard</a>
            <a href="http://prolink.intuit.com/" class="header-link mr-5">Tax Files</a>
            <!-- <a routerLink="/estimated-taxes" class="header-link mr-5">Estimated Taxes</a> -->
            <a routerLink="/settings" class="header-link">Settings</a>
        </div>
        <div class="float-right mr-5 ml-auto">
            <ng-container *ngIf="!auth.isLoggedIn()">
                <a routerLink="/login" class="header-link mr-5">Login</a>
                <a routerLink="/signup" class="header-link">Sign Up</a>
            </ng-container>
            <ng-container *ngIf="auth.isLoggedIn()">
                <a (click)="logout()" class="header-link pointer">Logout</a>
            </ng-container>
        </div>
    </div>
</div>
