<div style="max-width:800px;margin:80px auto">
    <a routerLink="/income" style="display:block">
        <div style="padding:20px;background:#141E28">
            <h3 style="float:left;display:block;color:#fff">Income</h3>
            <h3 style="float:right;display:block;color:#fff">{{ totalIncome | currency }}</h3>
            <div style="clear:both"></div>
        </div>
    </a>

    <div style="margin-top:80px;padding:20px;background:#141E28">
        <h3 style="float:left;display:block;color:#fff">Expenses</h3>
        <h3 style="float:right;display:block;color:#fff">{{ totalExpenses| currency }}</h3>
        <div style="clear:both"></div>
    </div>
    <div *ngFor="let expenseCategory of expenseCategories" class="striped-row">
        <div style="float:left">
            {{ expenseCategory.category }}
        </div>
        <div style="float:right">
            {{ expenseCategory.amount | currency }}
        </div>
        <div style="clear:both"></div>
    </div>

    <div style="margin-top:80px;padding:20px;background:#141E28">
        <h3 style="float:left;display:block;color:#fff">Summary</h3>
        <div style="clear:both"></div>
    </div>
    <div class="striped-row">
        <div style="float:left">
            Net Income
        </div>
        <div style="float:right">
            {{ totalIncome - totalExpenses | currency}}
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="striped-row">
        Estimated Federal Tax
    </div>
    <div class="striped-row">
        Estimated State Tax
    </div>
    <div class="striped-row">
        Estimated Local Tax
    </div>
</div>