<div style="max-width:800px;margin:80px auto">
    <!--<img *ngIf="!isLoaded" src="assets/images/spinner.gif" style="width:50px;display:block;margin:auto;margin-bottom:40px">-->
    <a routerLink="/income" style="display:block">
        <div style="padding:20px 40px;background:#141E28;border-radius:10px">
            <h4 style="float:left;display:block;color:#fff">Income</h4>
            <h4 style="float:right;display:block;color:#fff">{{ totalIncome | currency }}</h4>
            <div style="clear:both"></div>
        </div>
    </a>

    <div style="margin-top:80px;padding:20px 40px;background:#141E28;border-top-left-radius:10px;border-top-right-radius:10px">
        <h4 style="float:left;display:block;color:#fff">Expenses</h4>
        <h4 style="float:right;display:block;color:#fff">{{ totalExpenses| currency }}</h4>
        <div style="clear:both"></div>
    </div>
    <ng-container *ngFor="let expenseCategory of expenseCategories">
        <div class="striped-row" [routerLink]="['/expense', expenseCategory.categoryId]" style="cursor:pointer">
            <div style="float:left">
                {{ expenseCategory.category }}
            </div>
            <div style="float:right">
                {{ expenseCategory.amount | currency }}
            </div>
            <div style="clear:both"></div>
        </div>
    </ng-container>

    <div style="margin-top:80px;padding:20px 40px;background:#141E28;border-top-left-radius:10px;border-top-right-radius:10px">
        <h4 style="float:left;display:block;color:#fff">Summary</h4>
        <div style="clear:both"></div>
    </div>
    <div class="striped-row">
        <div style="float:left">
            Net Income
        </div>
        <div style="float:right">
            {{ totalIncome - totalExpenses | currency}}
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="striped-row" [routerLink]="['/tax','federal', 1]" style="cursor:pointer">
        Estimated Federal Tax
    </div>
    <div class="striped-row" [routerLink]="['/tax','state', 1]" style="cursor:pointer">
        Estimated State Tax
    </div>
    <div class="striped-row" [routerLink]="['/tax','local', 1]" style="cursor:pointer">
        Estimated Local Tax
    </div>
</div>