
$light-grey: #F8F8F8;
$medium-dark-grey: #E3E3E3;
$dark-grey: #979797;
$button-grey: #C8C8C8;
$light-grey-text: rgba(51,62,72,0.33);
$income-header: #141E28;
$cash-color: #00AC02;
$red-color: #C80000;