<div class="mx-auto income-container container">
    <div class="row mt-5 mb-5 text-center">
        <button class="btn income-button float-left" (click)="back()">
            <i class="fa fa-arrow-left mr-3"></i>Back to Dashboard
        </button>
    </div>
    <div class="row w-100 income-header">
        <label class="my-auto ml-5">Income</label>
        <label class="my-auto ml-auto mr-5">$52,984.93</label>
    </div>
    <div class="row w-100 income-item color-darker">
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-3">Barclaycard Us Creditcard</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto mx-auto">Income</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-auto mr-3 cash-text">$57.96</label>
        </div>
    </div>
    <div class="row w-100 income-item color-lighter">
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-3">Sheetz</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto mx-auto">Income - Other</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-auto mr-3 cash-text">$57.96</label>
        </div>
    </div>
    <div class="row w-100 income-item color-darker">
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-3">Barclaycard Us Creditcard</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto mx-auto">Uncategorized</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-auto mr-3 cash-text">$57.96</label>
        </div>
    </div>
    <div class="row w-100 income-item color-lighter">
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-3">Sheetz</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto mx-auto">Uncategorized</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-auto mr-3 cash-text">$57.96</label>
        </div>
    </div>
    <div class="row w-100 income-item color-darker">
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-3">Barclaycard Us Creditcard</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto mx-auto">Uncategorized</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-auto mr-3 cash-text">$57.96</label>
        </div>
    </div>
    <div class="row w-100 income-item color-lighter">
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-3">Sheetz</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto mx-auto">Uncategorized</label>
        </div>
        <div class="col-4 d-flex align-center">
            <label class="my-auto ml-auto mr-3 cash-text">$57.96</label>
        </div>
    </div>
</div>
