<div class="mx-auto income-container container">
    <div class="row mt-5 mb-5 text-center">
        <button class="btn income-button float-left" (click)="back()">
            <i class="fa fa-arrow-left mr-3"></i>Back to Dashboard
        </button>
    </div>
    <div class="row" class="income-header px-4 pt-4 d-flex">
        <h4 class="col-sm-6" style="display:block;color:#fff">Income</h4>
        <h4 class="col-sm-6" style="display:block;color:#fff;text-align:right">{{ totalIncome| currency }}</h4>
    </div>
    <ng-container *ngFor="let transaction of income">
        <div class="striped-row pointer d-flex" [routerLink]="['/transaction', transaction.transactionId]">
            <div class="col-sm-3">
                {{ transaction.date | date }}
            </div>
            <div class="col-sm-3">
                {{ transaction.name }}
            </div>
            <div class="col-sm-3" style="text-align:center">
                {{ transaction.category }}
            </div>
            <div class="col-sm-3" style="text-align:right">
                {{ transaction.amount | currency }}
            </div>
        </div>
    </ng-container>
</div>
