<div class="mx-auto income-container container">
    <div class="row mt-5 mb-5 text-center">
        <button class="btn income-button float-left" (click)="back()">
            <i class="fa fa-arrow-left mr-3"></i>Back to Dashboard
        </button>
    </div>
    <div class="row w-100 income-header">
        <label class="my-auto ml-5">Income</label>
        <label class="my-auto ml-auto mr-5">$52,984.93</label>
    </div>
    <ng-container *ngFor="let transaction of income">
        <div class="row striped-row" [routerLink]="['/transaction', transaction.transactionId]" style="cursor:pointer">
            <div style="float:left">
                {{ transaction.name }}
            </div>
            <div style="float:right">
                {{ transaction.amount | currency }}
            </div>
            <div style="clear:both"></div>
        </div>
    </ng-container>
</div>
