<div [formGroup]="addressForm">
    <div class="form-group mb-0">
        <label for="{{ 'addressFirstLine' + addessNumber }}" class="layout-input-label required">Business Address Line 1</label>
        <input id="{{ 'addressFirstLine' + addessNumber }}" class="form-control layout-input" formControlName="addressFirstLine">
      </div>
      <div class="form-group mb-2">
        <label for="{{ 'addressSecondLine' + addessNumber }}" class="layout-input-label">Business Address Line 2</label>
        <input id="{{ 'addressSecondLine' + addessNumber }}" class="form-control layout-input" formControlName="addressSecondLine">
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group mb-0">
            <label for="{{ 'city' + addessNumber }}" class="layout-input-label required">City</label>
            <input id="{{ 'city' + addessNumber }}" class="form-control layout-input" formControlName="city">
          </div>
        </div>
        <div class="col-5">
          <div class="form-group mb-0">
            <label for="{{ 'county' + addessNumber }}" class="layout-input-label required">County</label>
            <input id="{{ 'county' + addessNumber }}" class="form-control layout-input" formControlName="county">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group mb-0">
            <label for="{{ 'zipcode' + addessNumber }}" class="layout-input-label required">Zipcode</label>
            <input id="{{ 'zipcode' + addessNumber }}" class="form-control layout-input" formControlName="zipcode">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-0">
            <label for="{{ 'state' + addessNumber }}" class="layout-input-label required">State</label>
            <select id="{{ 'state' + addessNumber }}" class="form-control layout-input ml-auto" formControlName="state">
                <option *ngFor="let state of states;" value="{{ state }}">{{ state }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <label class="layout-input-label required">Business Vertical</label>
        <div class="form-check">
          <input class="form-check-input layout-check-input" type="radio" id="{{ 'cultivation' + addessNumber }} " value="Cultivation" formControlName="businessVertical">
          <label class="form-check-label" for="{{ 'cultivation' + addessNumber }}">Cultivation</label>
        </div>
        <div class="form-check">
          <input class="form-check-input layout-check-input" type="radio" id="{{ 'manufacture' + addessNumber }}" value="Manufacture" formControlName="businessVertical">
          <label class="form-check-label" for="{{ 'manufacture' + addessNumber }}">Manufacture</label>
        </div>
        <div class="form-check">
          <input class="form-check-input layout-check-input" type="radio" id="{{ 'distribution' + addessNumber }}" value="Distribution" formControlName="businessVertical">
          <label class="form-check-label" for="{{ 'distribution' + addessNumber }}">Distribution</label>
        </div>
        <div class="form-check">
          <input class="form-check-input layout-check-input" type="radio" id="{{ 'retail' + addessNumber }}" value="Retail" formControlName="businessVertical">
          <label class="form-check-label" for="{{ 'retail' + addessNumber }}">Retail</label>
        </div>
        <div class="form-check">
          <input class="form-check-input layout-check-input" type="radio" id="{{ 'delivery' + addessNumber }}" value="Delivery" formControlName="businessVertical">
          <label class="form-check-label" for="{{ 'delivery' + addessNumber }}">Delivery</label>
        </div>
      </div>
</div>
